h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a:hover {
  text-decoration: none;
  color: #c7b299;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
}

.button-menu {
  display: none;
  align-items: center;
}

.button-menu span {
  width: 27px;
  height: 3px;
  background-color: #fff;
  display: block;
  position: relative;
}

.button-menu span:before, .button-menu span:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.2s;
}

.button-menu span:before {
  margin-top: -9px;
}

.button-menu span:after {
  margin-top: 9px;
}

.active-menu span {
  height: 0;
}

.active-menu span:before, .active-menu span:after {
  width: 26px;
}

.active-menu span:before {
  transform: rotate(45deg);
  transform-origin: left;
}

.active-menu span:after {
  transform: rotate(-45deg);
  transform-origin: left;
}

.top-menu {
  transition: all 1s;
  padding: 15px 0;
  width: 100%;
  color: #fff;
  position: fixed;
  z-index: 99999;
}

.top-menu .outside {
  display: flex;
  justify-content: space-between;
}

.top-menu .outside .logotype {
  transition: all 1s;
  display: flex;
  align-items: center;
}

.top-menu .outside .logotype .logo {
  background: url("../images/logos.png");
  width: 56px;
  height: 56px;
  background-size: contain;
  background-position: center center;
  margin: 0 5px 0 0;
}

.top-menu .outside .logotype .slogan {
  font-family: "Raleway", sans-serif;
}

.top-menu .outside .logotype .slogan a {
  transition: all 1s;
  font-size: 26px;
}

.top-menu .outside .links {
  display: flex;
  align-items: center;
}

.top-menu .outside .links ul li {
  margin: 0 15px;
}

.top-menu .outside .buttons {
  display: flex;
  align-items: center;
}

.top-menu .outside .buttons ul {
  padding: 0px;
}

.top-menu .outside .buttons ul li {
  margin: 0 10px;
}

.top-menu .outside .buttons ul li a {
  font-size: 20px;
  background: url("../images/top_icon_sprites.png");
  width: 24px;
  height: 24px;
  display: flex;
}

.top-menu .outside .buttons ul li #a1 {
  background-position: 0 0;
}

.top-menu .outside .buttons ul li #a2 {
  background-position: 24px 0;
}

.top-menu .outside ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.top-menu .outside ul li {
  list-style-type: none;
}

.scroll {
  padding: 10px 0;
  background-color: #fff;
  border-bottom: solid 1px #f8f8f8;
}

.scroll span {
  background-color: #212529;
}

.scroll span:after, .scroll span:before {
  background-color: #212529;
}

.scroll .outside .logotype .logo {
  transition: all 1s;
  background: url("../images/logos-black.png");
  width: 35px;
  height: 35px;
  background-size: contain;
  background-position: center center;
}

.scroll .outside .logotype .slogan a {
  font-size: 20px;
}

.scroll a {
  color: #212529;
}

.scroll .outside .buttons ul li a {
  background: url("../images/top_icon_sprites-black.png");
}

header {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}

.header__images1 {
  background: url("../images/header1.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  min-height: 600px;
}

.header__images2 {
  background: url("../images/header2.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  min-height: 600px;
}

.header__images3 {
  background: url("../images/header3.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  min-height: 600px;
}

.header__images-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.owl-prev {
  position: absolute;
  background: url("../images/left.png");
  width: 40px;
  left: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  height: 73px;
}

.owl-next {
  background: url("../images/right.png");
  width: 40px;
  height: 73px;
  right: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.owl-dots {
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  transform: translate(-50%, 0);
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-dots .owl-dot {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}

.owl-dots span {
  width: 13px;
  height: 13px;
  margin: 5px 7px;
  background: #9d9b9b;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
  background: transparent;
  border: 2px solid #d3c1ad;
  width: 15px;
  height: 15px;
}

.header__content {
  z-index: 10;
  top: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__content h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: #fff;
}

.header__content h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: #fff;
}

.header__content p {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.header__content a:hover {
  color: #fff;
}

.header__button {
  background: url("../images/button.png");
  background-color: #8f7e6e;
  width: 170px;
  border-radius: 3px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  font-size: 14px;
}

.header__button:hover {
  background: #ff7c00;
  transform: translate(0, 0.2rem);
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

.eml1 {
  padding: 5rem 0;
  background: #fff;
}

.eml1 .eml1-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eml1 .eml1-content:hover {
  cursor: pointer;
}

.eml1 .eml1-content:hover h3 {
  color: #c7b299;
}

.eml1 .eml1-content:hover .eml1-line {
  background: #c7b299;
}

.eml1 .eml1-content:hover .eml1-images {
  padding: 0;
}

.eml1 .eml1-content p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.eml1 .eml1-content h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding: 1rem 0 0.5rem;
  transition: all 0.5s ease-in-out;
}

.eml1 .eml1-content .eml1-images {
  padding: 1rem 0;
  transition: all 0.5s ease-in-out;
}

.eml1 .eml1-content .eml1-images img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.eml1 .eml1-content .eml1-line {
  transition: all 0.5s ease-in-out;
  margin: 1rem 0;
  background: #f1eee9;
  width: 60px;
  height: 3px;
}

.eml2 {
  padding: 5rem 0 0;
  background: #fbfaf8;
  text-align: center;
}

.eml2 .eml2-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.eml3 {
  padding: 1.5rem 0;
  background: url("../images/Background.png");
  background-size: cover;
}

.eml3 h3 {
  padding: 0.8rem 0 0;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}

.eml3 span {
  color: #bca891;
}

.eml3 p {
  color: #615855;
}

.eml3 a:hover {
  color: #fff;
}

.button {
  background: url("../images/button.png");
  background-color: #8f7e6e;
  width: 170px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  transition: all 0.7s ease;
  cursor: pointer;
}

.button:hover {
  background: #ff7c00;
  border-radius: 2px;
}

.eml4 {
  background: #fff;
  padding: 5rem 0;
}

.eml4 .button {
  margin-top: 40px;
  color: white;
}

.eml4 p {
  text-align: center;
}

.eml4 a {
  margin: 5px;
}

.eml4 a:hover {
  color: #fff;
}

.eml4 .eml4-button {
  color: #212529;
  padding: 5px 10px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.eml4 .eml4-button:hover {
  background: #998675;
  border-radius: 3px;
  border: 0;
  padding: 5px 11px;
}

.eml4 .active {
  background: #998675;
  border-radius: 4px;
  border: 0;
  color: #fff;
}

.eml4 .image {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.eml4 .image img {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.eml4 .block {
  transition: all 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #fbfaf8;
  padding: 0 0 0 30px;
}

.eml4 .block .arrow {
  transition: all 0.5s;
  position: absolute;
  background: url("../images/arrow_eml4_white.png");
  width: 30px;
  height: 10px;
  left: 20px;
  top: -10px;
}

.eml4 .elm {
  margin: 25px 0 0 0;
  cursor: pointer;
}

.eml4 .elm:hover .arrow {
  background: url("../images/arrow_eml4_black.png");
}

.eml4 .elm:hover .block {
  background: #362f2d;
}

.eml4 .elm h3 {
  font-size: 18px;
  color: #cab79f;
}

.eml4 .elm p {
  color: #d1d1d1;
  font-size: 16px;
  text-align: left;
  margin-bottom: 0px;
}

.video {
  position: relative;
  background: url(../images/video.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.video .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video .content h2 {
  color: #fff;
}

.video .content p {
  color: #fff;
  text-align: center;
}

.video .content span {
  color: #c7b299;
}

.video .content .button-play {
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.5);
  height: 110px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.video .content .button-play .play {
  background: url("../images/icon-play.png");
  width: 70px;
  height: 70px;
}

.eml5 {
  padding: 80px 0 0;
  position: relative;
  background-color: #fbfaf8;
  width: 100%;
}

.eml5 .images-content {
  background: url("../images/iPhone-in-hand.png");
  width: 425px;
  height: 616px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
}

.eml5 .content {
  margin-top: 90px;
}

.eml5 h2 {
  margin-bottom: 30px;
}

.eml5 .list {
  margin-top: 50px;
}

.eml5 .list .overlay-span {
  margin-right: 30px;
  background: #c7b299;
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 50%;
}

.eml5 .list span {
  display: inline-block;
  width: 10px;
  height: 2px;
  margin-right: -1px;
}

.eml5 .list span:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 10px;
  transform: rotate(35deg);
  height: 2px;
  margin-top: -3px;
  background: #faf8f6;
}

.eml5 .list span:after {
  content: "";
  position: absolute;
  margin-top: 3px;
  display: inline-block;
  width: 10px;
  height: 2px;
  transform: rotate(-35deg);
  background: #faf8f6;
}

.eml5 .list li {
  margin-left: 50px;
  margin-top: 10px;
  list-style-type: none;
  display: inline-block;
}

.eml6 {
  padding: 50px 0px;
  position: relative;
  width: 100%;
  background: linear-gradient(90deg, #261e1b, #543729);
}

.eml6 .images {
  width: 44px;
  height: 44px;
}

.eml6 .images-people {
  background: url("../images/people.png");
}

.eml6 .images-cups {
  width: 48px;
  background: url("../images/caps.png");
}

.eml6 .images-comment {
  background: url("../images/comment.png");
}

.eml6 .images-likes {
  background: url("../images/likes.png");
}

.eml6 .images-laun {
  width: 54px;
  background: url("../images/laun.png");
}

.eml6 .numbers {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: #fff;
}

.eml6 .text {
  font-size: 14px;
  color: #c7b299;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.eml6 .solid {
  width: 30px;
  height: 2px;
  display: block;
  background: #fff;
  margin-top: 15px;
}

.eml7 {
  background: #fff;
  width: 100%;
  padding: 60px 0 120px;
}

.eml7 .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.eml7 .content p {
  margin-bottom: 30px;
}

.eml7 .content .block-top {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.5);
}

.eml7 .content .block-top .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  background-color: #363636;
  font-weight: 400;
  font-size: 24px;
}

.eml7 .content .block-top .text {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  background-color: #252525;
}

.eml7 .content .images {
  width: 100%;
  height: 250px;
  position: relative;
}

.eml7 .content .images-img1 {
  background: url("../images/photo.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.eml7 .content .images-img2 {
  background: url("../images/photo0.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.eml7 .content .images-img3 {
  background: url("../images/photo00.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.eml7 .content .images-img4 {
  background: url("../images/photo000.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.eml7 .content .images-img5 {
  background: url("../images/photo0000.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.eml7 .content .images-img6 {
  background: url("../images/photo00000.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.eml7 .content .info {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 1px #f8f8f8;
  border-left: solid 1px #f8f8f8;
  border-right: solid 1px #f8f8f8;
}

.eml7 .content .info h3 {
  color: #555555;
  font-size: 20px;
}

.eml7 .content .info p {
  color: #8c8c8c;
  font-size: 14px;
}

.eml7 .content .info a {
  color: #c7b299;
  font-size: 16px;
  text-align: left;
}

.eml7 .content .info a:after {
  content: "";
  display: inline-block;
  margin-left: 15px;
  margin-top: -1px;
  vertical-align: middle;
  border: 8px solid transparent;
  border-left: 8px solid #c7b299;
}

.eml7 .slick-slide {
  width: 385px;
  max-width: 100%;
}

.eml7 .slick-center .info {
  background: #362f2d;
  border-bottom: solid 1px #362f2d;
  border-left: solid 1px #362f2d;
  border-right: solid 1px #362f2d;
  transition: all 1s;
}

.eml7 .slick-center .info h3 {
  color: #bda992;
  transition: all 1s;
}

.eml7 .slick-center .info p {
  color: #fff;
  transition: all 1s;
}

.eml7 .slick-center .images-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: all 1s;
}

.eml7 .slick-center .block-top .number {
  background-color: #c7b299;
  transition: all 1s;
}

.eml7 .slick-center .block-top .text {
  background-color: #a48d72;
  transition: all 1s;
}

.eml7 .btn-prev {
  bottom: -70px;
  left: calc(50% - 20px);
}

.eml7 .btn-next {
  bottom: -70px;
  left: calc(50% + 20px);
}

.eml7 .btn-prev, .eml7 .btn-next {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #e7e7e7;
  cursor: pointer;
  position: absolute;
  transition: all 1s;
}

.eml7 .btn-prev span, .eml7 .btn-next span {
  top: 40%;
  left: 52%;
  color: #e7e7e7;
  font-size: 24px;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 1s;
}

.eml7 .btn-prev:hover, .eml7 .btn-next:hover {
  border: 2px solid #cab69f;
}

.eml7 .btn-prev:hover span, .eml7 .btn-next:hover span {
  color: #cab69f;
}

.eml8 {
  background-image: url("../images/fon_logotypes.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 80px 0;
}

.eml8 .images {
  margin-bottom: 30px;
}

.eml8 .images img {
  width: 100%;
}

.eml9 {
  width: 100%;
  padding: 80px 0;
  background-color: #191919;
}

.eml9 .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.eml9 .content .logo {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.eml9 .content .logo .image_logo {
  background-image: url("../images/logos.png");
  width: 64px;
  height: 56px;
}

.eml9 .content .logo .logo-text {
  color: white;
  font-size: 34px;
}

.eml9 .content .text {
  display: flex;
  flex-direction: column;
}

.eml9 .content .text p {
  color: #555555;
  font-size: 14px;
}

.eml9 .content .text a {
  color: #fff;
}

.eml9 .content .text a:after {
  content: "";
  display: inline-block;
  margin-left: 15px;
  margin-top: -1px;
  vertical-align: middle;
  border: 8px solid transparent;
  border-left: 8px solid #fff;
}

.eml9 .content .posts {
  padding: 10px 0;
  border-bottom: 1px solid #252525;
}

.eml9 .content h3 {
  margin-top: 14px;
  color: #fff;
}

.eml9 .content .date {
  color: #363636;
  font-size: 12px;
  margin-bottom: 7px;
}

.eml9 .content .time {
  color: #363636;
  font-size: 14px;
}

.eml9 .content .post {
  color: #555555;
  font-size: 14px;
}

.eml9 .content .post-cus {
  font-size: 16px;
}

.eml9 .content span {
  color: #00bff3;
}

.eml9 .content .images {
  display: flex;
  flex-direction: row;
}

.eml9 .content .images img {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 50%;
  height: 100px;
  object-fit: cover;
  object-position: center center;
}

.footer {
  padding: 45px 0;
  position: relative;
  width: 100%;
  background-color: #111111;
}

.footer .content {
  display: flex;
}

.footer .content .slogan {
  padding: 0px 10px;
  color: #555555;
}

.footer .content .slogan span {
  color: #959595;
}

.footer .content li {
  padding: 0px 10px;
  list-style-type: none;
}

.footer .content li a {
  color: #555555;
}

.footer .content li a:hover {
  color: #c7b299;
}

.login_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #d1ecf1;
  padding: 20px;
}

.login_wrap form {
  font-family: Consolas;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.login_wrap form input {
  width: 350px;
  height: 25px;
  border: #7f4748 2px solid;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 2px 5px;
}

.login_wrap form label {
  font-size: 16px;
}

.login_wrap form button {
  border: none;
  background-color: #854f50;
  padding: 7px 25px;
  color: white;
  text-transform: uppercase;
}

.login_wrap .login_buttons {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

.login_logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login_logo h2 {
  color: #49b29f;
  font-family: monospace;
}

.login_logo span {
  color: #c70808;
  font-family: 'Shadows Into Light', cursive;
}

.body {
  background: url(../images/photo000.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #19191936;
  display: none;
  z-index: 999999;
}

.loaded {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.transition_over {
  animation: over 2s cubic-bezier(0, 1.49, 1, -0.57);
  animation-fill-mode: forwards;
}

.transition_overback {
  animation: overback 1.5s ease-in-out;
  animation-fill-mode: forwards;
}

.my-modal {
  position: fixed;
  z-index: 999999;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
}

.my-modal .modal-img {
  position: relative;
  height: 100vh;
  border: solid 20px transparent;
}

.my-modal .modal-img .closed {
  position: absolute;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  right: 0;
  background-color: white;
}

.my-modal .modal-img .closed span {
  height: 20px;
  width: 16px;
  display: block;
}

.my-modal .modal-img .closed span:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: black;
  transform: rotate(48deg);
  transform-origin: left;
}

.my-modal .modal-img .closed span:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 27.6px;
  background-color: black;
  transform: rotate(-48deg);
  transform-origin: left;
}

.my-modal .modal-img img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@keyframes over {
  from {
    background: #362f2d;
    width: 0;
    height: 0;
  }
  50% {
  }
  to {
    transform: rotate(0deg);
    background: #362f2d;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
}

@keyframes overback {
  from {
    top: 0;
    left: 0;
    background: #362f2d;
    width: 100%;
    height: 100vh;
  }
  to {
    background: #362f2d;
    width: 0;
    height: 0;
  }
}
