@import "player";

$wite: #fff;
$menutext: #212529;
$font1: 'Raleway', sans-serif;
$font2: 'Montserrat', sans-serif;
h2,h3{
  font-family: $font1;
  font-weight: bold;
}
h2{
  font-size: 30px;
}
p{
  font-family: $font2;
  font-size: 16px;
}
a:hover{
  text-decoration: none;
  color: #c7b299;
}
a{
  font-family: $font2;
  font-size: 14px;
  color: $wite;
}

.button-menu{
  display: none;
  align-items: center;
  span{
    width: 27px;
    height: 3px;
    background-color: #fff;
    display: block;
    position: relative;
    &:before,&:after{
      content: "";
      position: absolute;
      width: 27px;
      height: 3px;
      background-color: #fff;
      display: block;
      transition: 0.2s;
    }
    &:before{
      margin-top: -9px;
    }
    &:after{
      margin-top: 9px;
    }
  }
}
.active-menu{
  span{
    height: 0;
    &:before,&:after{
      width: 26px;
    }
    &:before{
      transform: rotate(45deg);
      transform-origin: left;

    }
    &:after{
      transform: rotate(-45deg);
      transform-origin: left;
    }
  }
}
.top-menu{
  transition: all 1s;
  padding: 15px 0;
  width: 100%;
  color: $wite;
  position: fixed;
  z-index: 99999;
  .outside{
    display: flex;
    justify-content: space-between;
    .logotype{
      transition: all 1s;
      display: flex;
      align-items: center;
      .logo{
        background: url("../assets/images/logos.png");
        width: 56px;
        height: 56px;
        background-size: contain;
        background-position: center center;
        margin: 0 5px 0 0;
      }
      .slogan{
        font-family: $font1;
        a{
          transition: all 1s;
          font-size: 26px;
        }
      }
    }
    .links{
      display: flex;
      align-items: center;
      ul{
        li{
          margin: 0 15px;
        }
      }
    }
    .buttons{
      display: flex;
      align-items: center;
      ul{
        padding: 0px;
        li{
          margin: 0 10px;
          a{
            font-size: 20px;
            background: url("../assets/images/top_icon_sprites.png");
            width: 24px;
            height: 24px;

            display: flex;
          }
          #a1{
            background-position: 0 0;
          }
          #a2{
            background-position: 24px 0;
          }
        }
      }
    }

    ul{
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
      li{
        list-style-type: none;
      }
    }
  }
}
.scroll{
  padding: 10px 0;
  background-color: $wite;
  border-bottom: solid 1px #f8f8f8;
  span{
    background-color: $menutext;
    &:after,&:before{
      background-color: $menutext;
    }
  }
  .outside .logotype .logo{
    transition: all 1s;
    background: url("../assets/images/logos-black.png");
    width: 35px;
    height: 35px;
    background-size: contain;
    background-position: center center;
  }
  .outside .logotype .slogan a{
    font-size: 20px;
  }
  a{
    color: $menutext;
  }
  .outside .buttons ul li a{
    background: url("../assets/images/top_icon_sprites-black.png");
  }
  .outside .links{
  }
}
header{
  position: relative;
  background: rgba(0,0,0,0.5);
}
.header__images1 {
  background: url("../assets/images/header1.jpg");
  background-size: cover;
  background-position: center center ;
  width: 100%;
  height: 100vh;
  min-height: 600px;
}
.header__images2 {
  background: url("../assets/images/header2.jpg");
  background-size: cover;
  background-position: center center ;
  width: 100%;
  height: 100vh;
  min-height: 600px;
}
.header__images3 {
  background: url("../assets/images/header3.jpg");
  background-size: cover;
  background-position: center center ;
  width: 100%;
  height: 100vh;
  min-height: 600px;
}
.header__images-overlay{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.owl-prev{
  position: absolute;
  background: url("../assets/images/left.png") !important;
  width: 40px;
  left: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  height: 73px;
  color: transparent !important;
}
.owl-next{
  background: url("../assets/images/right.png") !important;
  width: 40px;
  height: 73px;
  right: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: transparent !important;
}
.owl-dots{
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  transform: translate(-50%, 0);
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  .owl-dot{
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
  }
  span{
    width: 13px;
    height: 13px;
    margin: 5px 7px;
    background: #9d9b9b;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
  }
}
.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span{
  background: transparent;
  border: 2px solid #d3c1ad;
  width: 15px;
  height: 15px;

}
.owl-carousel{
}
.header__content{
  z-index: 10;
  top: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
  h1{
    font-family: $font1;
    font-weight: 900;
    font-size: 3rem;
    color: $wite;
  }
  h2{
    font-family: $font1;
    font-weight: 100;
    color: $wite;
  }
  p{
    color: $wite;
    text-align: center;
    font-family: $font2;
  }
  a{
    &:hover{
      color: $wite;
    }
  }
}
.header__button{
  background: url("../assets/images/button.png");
  background-color: #8f7e6e;
  width: 170px;
  border-radius: 3px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  font-family: $font1;
  text-transform: uppercase;
  font-weight: 900;
  color: $wite;
  font-size: 14px;
  &:hover{
    background: #ff7c00;
    transform: translate(0,0.2rem);
  }
}
section{
  position: relative;
  width: 100%;
  height: 100%;
}
.eml1{
  padding: 5rem 0;
  background: $wite;
  .eml1-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover{
      cursor: pointer;
      h3{
        color: #c7b299;
      }
      .eml1-line{
        background: #c7b299;
      }
      .eml1-images{
        padding: 0;
      }
    }
    p{
      text-align: center;
      font-family: $font2;
      font-size: 14px;
    }
    h3{
      font-family: $font1;
      font-weight: bold;
      padding: 1rem 0 0.5rem;
      transition: all 0.5s ease-in-out;
    }
    .eml1-images{
      padding: 1rem 0;
      transition: all 0.5s ease-in-out;
      img{
        width: 50px;
        height: 50px;
        object-fit: contain;
      }
    }
    .eml1-line{
      transition: all 0.5s ease-in-out;
      margin: 1rem 0;
      background: #f1eee9;
      width: 60px;
      height: 3px;
    }
  }
}
.eml2{
  padding: 5rem 0 0 ;
  background: #fbfaf8;
  text-align: center;
  .eml2-image img{
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
.eml3{
  padding: 1.5rem 0;
  background: url("../assets/images/Background.png");
  background-size: cover;
  h3{
    padding: 0.8rem 0 0;
    color: $wite;
    font-family: $font1;
    font-weight: 100;
  }
  span{
    color: #bca891;
  }
  p{
    color: #615855;
  }
  a:hover{
    color: $wite;
  }
}
.button{
  background: url("../assets/images/button.png");
  background-color: #8f7e6e;
  width: 170px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: $font1;
  font-weight: bold;
  transition: all 0.7s ease;
  cursor: pointer;
  &:hover{
    background: #ff7c00;
    border-radius: 2px;
  }
}
.eml4{
  background: $wite;
  .button{
    margin-top: 40px;
    color: white;
  }
  padding: 5rem 0;
  p{
    text-align: center;
  }
  a{
    margin: 5px;
    &:hover{
      color: $wite;
    }
  }
  .eml4-button{
    color: #212529;;
    padding: 5px 10px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    &:hover{
      background: #998675;
      border-radius: 3px;
      border: 0;
      padding: 5px 11px;
    }
  }
  .active{
    background: #998675;
    border-radius: 4px;
    border: 0;
    color: $wite;
  }
  .image{
    position: relative;
    overflow: hidden;
    height: 300px;
    img {
      display: block;
      margin: 0 auto;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

  }
  .block{
    transition: all 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #fbfaf8;
    padding: 0 0 0 30px;

    .arrow{
      transition: all 0.5s;
      position: absolute;
      background: url("../assets/images/arrow_eml4_white.png");
      width: 30px;
      height: 10px;
      left: 20px;
      top: -10px;

    }

  }
  .elm{
    margin: 25px 0 0 0;
    cursor: pointer;
    &:hover .arrow{
      background: url("../assets/images/arrow_eml4_black.png"); ;
    }
    &:hover .block{
      background: #362f2d;
    }
    h3{
      font-size: 18px;
      color: #cab79f;
    }
    p{
      color: #d1d1d1;
      font-size: 16px;
      text-align: left;
      margin-bottom: 0px;
    }
  }

}
.video{
  position: relative;
  background: url(../assets/images/video.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  .content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
      color: $wite;
    }
    p{
      color: $wite;
      text-align: center;
    }
    span{
      color: #c7b299;
    }
    .button-play{
      margin-bottom: 50px;
      background: rgba(0,0,0,0.5);
      height: 110px;
      width: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      .play{
        background: url("../assets/images/icon-play.png");
        width: 70px;
        height: 70px;
      }
    }
  }
}
.eml5 {
  padding: 80px 0 0;
  position: relative;
  background-color: #fbfaf8;
  width: 100%;
  .images-content{
    background: url("../assets/images/iPhone-in-hand.png");
    width: 425px;
    height: 616px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
  }
  .content{
    margin-top: 90px;
  }
  h2{
    margin-bottom: 30px;
  }
  .list{
    margin-top: 50px;
    .overlay-span{
      margin-right: 30px;
      background: #c7b299;
      width: 25px;
      height: 25px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      border-radius: 50%;
    }
    span{
      display: inline-block;
      width: 10px;
      height: 2px;
      margin-right: -1px;
      &:before{
        content: "";
        display: inline-block;
        position: absolute;
        width: 10px;
        transform: rotate(35deg);
        height: 2px;
        margin-top: -3px;
        background: #faf8f6;
      }
      &:after{
        content: "";
        position: absolute;
        margin-top: 3px;
        display: inline-block;
        width: 10px;
        height: 2px;
        transform: rotate(-35deg);
        background: #faf8f6;
      }
    }

    li{
      margin-left: 50px;
      margin-top: 10px;
      list-style-type: none;
      display: inline-block;
    }


  }
}
.eml6{
  padding: 50px 0px;
  position: relative;
  width: 100%;
  background: linear-gradient(90deg, #261e1b, #543729);
  .images {
    width: 44px;
    height: 44px;
    &-people{
      background: url("../assets/images/people.png");
    }
    &-cups{
      width: 48px;
      background: url("../assets/images/caps.png");
    }
    &-comment{
      background: url("../assets/images/comment.png");
    }
    &-likes{
      background: url("../assets/images/likes.png");
    }
    &-laun{
      width: 54px;
      background: url("../assets/images/laun.png");
    }
  }
  .numbers{
    font-size: 48px;
    font-family: $font2;
    font-weight: 100;
    color: $wite;

  }
  .text{
    font-size: 14px;
    color: #c7b299;
    font-family: $font2;
    text-transform: uppercase;

  }
  .solid{
    width: 30px;
    height: 2px;
    display: block;
    background: $wite;
    margin-top: 15px;
  }

}
.eml7{
  background: $wite;
  width: 100%;
  padding:60px 0 120px;
  .content{
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p{
      margin-bottom: 30px;
    }
    .block-top{
      position: absolute;
      top: 15px;
      left: 15px;
      width: 50px;
      height: 60px;
      overflow: hidden;
      border-radius: 5px;
      font-family: $font2;
      color: #fff;
      box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.5);;
      .number{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60%;
        background-color: #363636;
        font-weight: 400;
        font-size: 24px;
      }
      .text{
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
        background-color: #252525;
      }
    }
    .images{
      width: 100%;
      height: 250px;
      position: relative;
      &-img1{
        background: url("../assets/images/photo.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &-img2{
        background: url("../assets/images/photo0.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &-img3{
        background: url("../assets/images/photo00.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &-img4{
        background: url("../assets/images/photo000.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &-img5{
        background: url("../assets/images/photo0000.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &-img6{
        background: url("../assets/images/photo00000.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    .info{
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: solid 1px #f8f8f8;
      border-left: solid 1px #f8f8f8;
      border-right: solid 1px #f8f8f8;
      h3{
        color: #555555;
        font-size: 20px;
      }
      p{
        color: #8c8c8c;
        font-size: 14px;
      }
      a{
        color: #c7b299;
        font-size: 16px;
        text-align: left;
        &:after{
          content: "";
          display: inline-block;
          margin-left: 15px;
          margin-top: -1px;
          vertical-align: middle;
          border: 8px solid transparent;
          border-left: 8px solid #c7b299;
        }
      }
    }
  }
  .slick-slide{
    width: 385px;
    max-width: 100%;
  }
  .slick-center{
    .info{
      background: #362f2d;
      border-bottom: solid 1px #362f2d;
      border-left: solid 1px #362f2d;
      border-right: solid 1px #362f2d;
      transition: all 1s;
      h3{
        color: #bda992;
        transition: all 1s;
      }
      p{
        color: $wite;
        transition: all 1s;
      }
    }
    .images-overlay{
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.6);
      transition: all 1s;
    }
    .block-top{
      .number{
        background-color: #c7b299;
        transition: all 1s;
      }
      .text{
        background-color: #a48d72;
        transition: all 1s;
      }
    }
  }
  .btn-prev{
    bottom: -70px;
    left: calc(50% - 20px);
  }
  .btn-next{
    bottom: -70px;
    left: calc(50% + 20px);
  }
  .btn-prev,.btn-next{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #e7e7e7;
    cursor: pointer;
    position: absolute;
    transition: all 1s;
    span {
      top: 40%;
      left: 52%;
      color: #e7e7e7;
      font-size: 24px;
      position: absolute;
      transform: translate(-50%, -50%);
      transition: all 1s;
    }
    &:hover{
      border: 2px solid #cab69f;
    }
    &:hover span{
      color: #cab69f;
    }
  }
}
.eml8{
  background-image: url("../assets/images/fon_logotypes.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 80px 0;
  .images{
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }
}
.eml9{
  width: 100%;
  padding: 80px 0;
  background-color: #191919;
  .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .logo{
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;
      .image_logo{
        background-image: url("../assets/images/logos.png");
        width: 64px;
        height: 56px;
      }
      .logo-text{
        color: white;
        font-size: 34px;
      }
    }
    .text{
      display: flex;
      flex-direction: column;
      p{
        color: #555555;
        font-size: 14px;
      }
      a{
        color: $wite;
        &:after{
          content: "";
          display: inline-block;
          margin-left: 15px;
          margin-top: -1px;
          vertical-align: middle;
          border: 8px solid transparent;
          border-left: 8px solid #fff;
        }
      }
    }
    .posts{
      padding: 10px 0;
      border-bottom: 1px solid #252525;
    }
    h3{
      margin-top: 14px;
      color: $wite;
    }
    .date{
      color: #363636;
      font-size: 12px;
      margin-bottom: 7px;
    }
    .time{
      color: #363636;
      font-size: 14px;
    }
    .post{
      color: #555555;
      font-size: 14px;
      &-cus{
        font-size: 16px;
      }
    }
    span{
      color: #00bff3;
    }
    .images{
      display: flex;
      flex-direction: row;
      img{
        margin-right: 10px;
        margin-bottom: 10px;
        width: 50%;
        height: 100px;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}
.footer{
  padding: 45px 0;
  position: relative;
  width: 100%;
  background-color: #111111;
  .content{
    display: flex;
    .slogan{
      padding: 0px 10px;
      color: #555555;
      span{
        color: #959595;
      }
    }
    li{
      padding: 0px 10px;
      list-style-type: none;
      a{
        color: #555555;
        &:hover{
          color: #c7b299;
        }
      }
    }
  }
}


.login_wrap{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  background: #d1ecf1;
  padding: 20px;
  form{
    font-family: Consolas;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    input{
      width: 350px;
      height: 25px;
      border: #7f4748 2px solid;
      border-radius: 5px;
      margin: 0.5rem 0;
      padding: 2px 5px;
    }
    label{
      font-size: 16px;
    }
    button{
      border: none;
      background-color: #854f50;
      padding: 7px 25px;
      color: white;
      text-transform: uppercase;
    }
  }
  .login_buttons{
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }
}
.login_logo{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  h2{
    color: #49b29f;
    font-family: monospace;
  }
  span{
    color: #c70808;
    font-family: 'Shadows Into Light', cursive;
  }
}
.body{
  background: url(../assets/images/photo000.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
}
.overlay{
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #19191936;
  display: none;
  z-index: 999999;
}
.loaded{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.transition_over{
  animation: over 2s cubic-bezier(0, 1.49, 1, -0.57);
  animation-fill-mode: forwards;
}
.transition_overback{
  animation: overback 1.5s ease-in-out;
  animation-fill-mode: forwards;
}



.my-modal{
  position: fixed;
  z-index: 999999;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  .modal-img{
    position: relative;
    height: 100vh;
    border: solid 20px transparent;
    .closed{
      position: absolute;
      height: 40px;
      width: 40px;
      justify-content: center;
      align-items: center;
      display: flex;
      top: 0;
      right: 0;
      background-color: white;
      span{
        height: 20px;
        width: 16px;
        display: block;
        &:before{
          content: "";
          position: absolute;
          width: 25px;
          height: 2px;
          background-color: black;
          transform: rotate(48deg);
          transform-origin: left;
        }
        &:after{
          content: "";
          position: absolute;
          width: 25px;
          height: 2px;
          top: 27.6px;
          background-color: black;
          transform: rotate(-48deg);
          transform-origin: left;
        }
      }
    }
    img{
      height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }
}
@keyframes over {
  from {
    background: #362f2d;
    width: 0;
    height: 0;

  }
  50%{
  }
  to {
    transform: rotate(0deg);
    background: #362f2d;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

  }
}
@keyframes overback {
  from {
    top: 0;
    left: 0;
    background: #362f2d;
    width: 100%;
    height: 100vh;
  }
  to {
    background: #362f2d;
    width: 0;
    height: 0;

  }
}


.registration__page {
  font-family: 'Open Sans', sans-serif;
  //font-family: 'Righteous', cursive;
  background: url("../assets/images/photo000.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    &__registration {
      box-shadow: 0 0 20px 0px rgba(0,0,0, 0.5);
      border-radius: .5rem;
      .form-group {
        &--custom {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;

          .input__text {
            font-size: 14px;
            border: none;
            border-bottom: 1px solid #333;
            margin-left: 10px;
            flex: 1;
            outline: none;
            &--custom {
              border-bottom: none;
              margin: 0;
            }
          }
          span {
            color: #ff3048;
          }
        }
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
    }

    &__title {
    }
    &__head {
      background: #202b3d;
      color: #fff;
      width: 100%;
      height: 70px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
    }

    &__body {
      background: #fff;
      width: 400px;
      max-height: calc(100vh - 100px);
      padding: 1rem;
      overflow: auto;
    }
  }
}

.btn {
  &__red {
    outline: none;
    padding: 7px 10px;
    background: #ff3048;
    border: none;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 6px 20px 0px #ff4258;

    &:hover {
      transform: translateY(3px);
      box-shadow: none;
    }
  }

  &__darkBlue {
    outline: none !important;
    padding: 7px 10px;
    background: #1b232e;
    border: none;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 6px 20px 0px #202b3d;

    &:hover {
      transform: translateY(3px);
      box-shadow: none;
    }
  }
}

.isError {
  border-bottom: 1px solid #ff3048 !important;
}
.isOk {
  border-bottom: 1px solid #24c482 !important;
}
.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  opacity: 0;
}



@import "media";


