//@import "player";
@import "music";
@import "module/animation";
//@import "module/loader";
//@import "module/scroll";
//@import "module/parallax_bg";
//@import "solo";

.disabledJs {
  pointer-events: none;
  cursor: default;
}
.dropdown-toggle::after {
  margin-left: 0.155em !important;
  vertical-align: 0.155em !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.move_out-enter-active, .move_out-leave-active {
  transition: all .3s ease-in-out;
}
.move_out-enter, .move_out-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  margin-left: -35em;
}

@keyframes changeBackShadow {
  from {
    background: none;
    box-shadow: none;
  }

  to {
    background: #8a215a;
    box-shadow: 0 0 18px 2px #0000008c;
  }
}

//@import "media";


